<launch>
    <param name="/use_sim_time" value="true" />
    <!-- start world -->
        <node name="gazebo" pkg="gazebo_ros" type="gazebo"
        args="$(find turtlebot_gazebo)/worlds/playground.world" respawn="false" output="screen" />
    <!-- include our robots -->
        <include file="$(find move_sync_sec)/launch/robots.launch"/>
</launch>
