<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py $(find
turtlebot_description)/robots/kobuki_hexagons_asus_xtion_pro.urdf.xacro" />

        <!-- BEGIN ROBOT 1 -->
        <group ns="robot1">
            <param name="tf_prefix" value="robot1_tf" />
            <include file="$(find p1)/launch/one_robot.launch" >
                <arg name="init_pose" value="-x 1 -y 0 -z 0 -R 0 -P 0 -Y 3.142" />
                <arg name="robot_name" value="Robot1" />
            </include>
        </group>

        <!-- BEGIN ROBOT 2 -->
        <group ns="robot2">
            <param name="tf_prefix" value="robot2_tf" />
            <include file="$(find p1)/launch/one_robot.launch" >
                <arg name="init_pose" value="-x -1 -y 0 -z 0 -R 0 -P 0 -Y 1.5708" />
                <arg name="robot_name" value="Robot2" />
            </include>
        </group>

        <!-- BEGIN ROBOT 3 -->
        <group ns="robot3">
            <param name="tf_prefix" value="robot3_tf" />
            <include file="$(find p1)/launch/one_robot.launch" >
                <arg name="init_pose" value="-x -1 -y 2 -z 0 -R 0 -P 0 -Y 0" />
                <arg name="robot_name" value="Robot3" />
            </include>
        </group>

        <!-- BEGIN ROBOT 4 -->
        <group ns="robot4">
            <param name="tf_prefix" value="robot4_tf" />
            <include file="$(find p1)/launch/one_robot.launch" >
                <arg name="init_pose" value="-x 1 -y 2 -z 0 -R 0 -P 0 -Y -1.5708" />
                <arg name="robot_name" value="Robot4" />
            </include>
        </group>
</launch>
